/* .reklame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
     width: 100%;
    
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
} */