

.venstre-aside, .hoyre-aside {
    width: 300px;
    padding: 20px;
    background-color: #050d1a;
    border-left: 2px solid #050d1a;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.reklame {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.reklame img {
    max-width: 100%;
    border-radius: 5px;
}

.reklame h3 {
    font-size: 16px;
    margin: 10px 0;
}

.reklame h1 {
    font-size: 24px;
    color: #d32f2f;
}

.reklame p {
    font-size: 14px;
    color: #555;
}

