* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.articles-container {
    /* width: 1000px; */
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#articles-list {
    display: flex;
    gap: 20px;
}

.article {
    width: 300px;
    height: 400px;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
}

img {
    width: 100%;
}

body {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}

main {
    max-width: 1000px;
    /* width: min(80%, 1000px); */
    /* width: 80%; */
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-color: white;
    padding: 20px;
}

article>h1 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article,
.article {
    background-color: whitesmoke;
    grid-column: span 3;
    min-height: 300px;
}

.small {
    grid-column: span 3;
}

.medium {
    grid-column: span 4;
}

.large {
    grid-column: span 6;
}

.xlarge {
    grid-column: span 12;
}



.innhold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 40px;
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

#flatIphone p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.Overskrift {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
}



#FlatIphone {
    margin-bottom: 20px;
}

.Underoverskrift {

    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;

}

.textboks {
    max-width: 700px;

}

.dark {
    background-color: rgb(27, 27, 37);
}

.nav h1 {
    font-weight: 500;
}

.nav h2 {
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #517e49ed;
    color: white;
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.nav a:hover {
    text-decoration-line: underline;
}

.nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0;
}

.nav button {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    background-color: #3e5639ed;
    border: #3e5639ed;
    color: white;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.nav button:hover {
    background-color: #9bbd95ed;
    border: #9bbd95ed;
}

.meny {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.meny i {
    transition: 0.3s;
}

.meny.open i {
    transform: rotate(90deg);
}

.typer {
    display: flex;
    justify-content: flex-start;
    gap: 12%;
    width: 40%;
}

.diverse {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    width: 60%;
    align-items: center;
}

.søk {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 8px;
    border-radius: 5px;
}

.søk input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding-left: 5px;
}

.nav input {
    height: 100%;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-content {
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    right: 0;
    top: 60px;
    border-radius: 8px;
    padding: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
}

.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content button {
    margin: 3px;
}