* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-color: white;
    width: 1000px;
    padding: 20px;
}

article {
    background-color: lightblue;
    grid-column: span 3;
    min-height: 300px;
}

.small {
    grid-column: span 3;
}

.medium {    
    grid-column: span 4;
}

.large {    
    grid-column: span 6;
}

.xlarge {
    grid-column: span 12;
}



.innhold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 40px;
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

.Atekst {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.Overskrift {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
}



#FlatIphone {
    margin-bottom: 20px;
}

.Underoverskrift {

    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;

}

.textboks {
    max-width: 700px;

}